<div class="container">
  <div class="low">
    <h1>非食品アイデア</h1>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>アイデア画像/アイデア名</th>
          <th>投稿者名</th>
          <th>投稿日時</th>
          <th>いいね</th>
        </tr>
      </thead>
      <tbody>
        <% @nonfoods.each do |nonfood|%>
          <tr class="nonfood_<%= nonfood.id %>">
            <%= render 'nonfood', nonfood: nonfood %>
         </tr>
      　<% end %>
      </tbody>
    </table>
    <span style="display: block; text-align: center;"><%= paginate @nonfoods %></span>
  </div>
</div>