<section id="sec1" class="py-5 container">
    <h2 class="font-weight-bold text-center ttl-bdr">このサイトについて</h2>
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
          <div class="row">
              <div class="col-lg-6 mb-3">
                  <div class="row">
                      <img class="col-sm-6 h-100 mb-3 mb-md-0" src="/assets/gahag-0119270185-1aa3b0fc843975510899fd73d8917b3e8022b209ff0e95565c26968da2f67efe.jpg">
                      <div class="col-sm-6">
                          <h4 class="mt-0">1.勉強とは？</h4>
                          <p>広辞苑によると「学問や知識・技術などを身につけるために学ぶこと」と記載されています。しかしその過程は大半の人にとって辛く困難な道のりです。</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div class="row"> <img class="col-sm-6 h-100 mb-3 mb-md-0" src="/assets/cheers-839865_1920-3a20ae748e81d41d8f0bae30878b44dfd3401373550416d80006c4fc89ff7950.jpg">
                    <div class="col-sm-6">
                      <h4 class="mt-0">2.なぜ勉強するのか？</h4>
                      <p>それではなぜそんな辛い思いをして勉強するのか？それは幸せのためです。勉強を続けることによりその先に幸せがあるからです。</p>
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-3">
              <div class="row"> <img class="col-sm-6 h-100 mb-3 mb-md-0" src="/assets/gahag-0007080899-ca458195dda6ce9922b00ed3e37e662980acc5ab997a711ce415d3b387d3246c.jpg">
                <div class="col-sm-6">
                  <h4 class="mt-0">3.勉強を続けるには？</h4>
                  <p>目標を持つことも重要ですが勉強をする仲間と繋がり共有することも大切です。1人では辛いことも協力して乗り越えることが出来ます。</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="row"> <img class="col-sm-6 h-100 mb-3 mb-md-0" src="/assets/adventure-1807524_1920-96a305b55d877a5d6ad0177998abc170ecb9ff12c20ba01ef9fa75b8d06f1014.jpg">
                <div class="col-sm-6">
                  <h3 class="mt-0">4.そのためには？</h3>
                  <p>このサイトで情報を共有しお互い助け合いながらそれぞれの目標に向かって、勉強を継続していくツールとしてご活用いただけましたら幸いです。</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>