/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.nav-item {
	color: white;
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
}
.nav-item1{
    position: absolute;
    bottom: 0;
    padding-right: 20px;
}
.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}
footer {
    width: 100%;
    color: white;
    background-color: #FFA500;
    text-align: center;
    height: 60px;
    padding: 20px;
    bottom: 0;
}
.topimage {
	background-image:image-url('voice.jpg');
	background-position:center;
	background-size: cover;
    height: 680px;
    width: 100%;
    padding: 30px;
}
.topimagelog {
    position: relative;
    padding: 0.25em 0.5em;
    color: white;
}

.under_menu {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    height: 50px;
    padding-top: 5px;
    margin-top: 20px;
}

body{
    background: -webkit-radial-gradient(circle, #fefafa 0%, #dee3e8 100%);
}
.showp1{
    padding-left: 60px;
    font-weight: bold;
    font-size: 20px;
}
.showp2{
    text-align: center;
    font-size: 15px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #00CCFF;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}
.iine__button{
    background: linear-gradient(to right, #feb400, #FFE300);
    line-height: 42px;
    color: #6d3701;
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
 }